<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name=" TestSuite" thread-count="5" parallel="tests">
	<test name="TestGuru">
		<classes>
			<class name="SessionHandling.TestGuru99MultipleSession">
				<include value="testGuru99TC1"
					dependsOnMethods=" testGuru99TC2" />
				<include value="testGuru99TC2" />
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
